<div class="container">
    <h2 class="text-center">Cập nhật khóa học</h2>
    <form method="POST" action="/course/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" id="name" name="name" value="{{course.name}}" placeholder="Tên khóa học">
        </div>
        <div class="form-group">
            <label for="level">Trình độ</label>
            <select class="form-control" id="level" name="level" value="{{course.level}}">
                <option value="Cơ bản">Cơ bản</option>
                <option value="Trung bình">Trung bình</option>
                <option value="Nâng cao">Nâng cao</option>
            </select>
        </div>
        <div class="form-group">
            <label for="videoId">VideoID</label>
            <input type="text" class="form-control" id="videoId" name="videoId" value="{{course.videoId}}" placeholder="VideoID">
        </div>
        <div class="form-group">
            <label for="description">Mô tả khóa học</label>
            <textarea class="form-control" id="description" name="description" rows="3">{{course.description}}</textarea>
        </div>
        <input type="submit" class="btn btn-success" value="Sửa">
    </form>
</div>